.country {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-size: 1.6rem;
  width: 25rem;
  border-radius: 0.7rem;
  margin: 3rem 3rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(105%);
  }

  .img {
    width: 25rem;
    height: 15rem;
    object-fit: cover;
    background-color: #eee;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .data {
    padding: 2.2rem 2.8rem;

    .name {
      font-size: 2.2rem;
      margin-bottom: 0.7rem;
    }

    .region {
      font-size: 1.4rem;
      margin-bottom: 2.5rem;
      text-transform: uppercase;
      color: #888;
    }

    .row {
      text-overflow: clip;
      white-space: nowrap;
      overflow-x: auto;
    }

    .row:not(:last-child) {
      margin-bottom: 1rem;
    }

    .row span {
      display: inline-block;
      margin-right: 2rem;
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 280px) {
  .country {
    width: 22rem;

    .img {
      width: 22rem;
      height: 13rem;
    }
    .data {
      padding: 2rem 2.5rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .country {
    margin: 1rem;
  }
}
