@import '../../styles/css-variables.scss';

.home-btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.4rem;
  color: var(--clr-main-text);
  text-transform: capitalize;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.4s linear;
  &:hover {
    background: #202020;
    color: #fff;
  }
  svg {
    margin-right: 0.5rem;
    display: block;
  }
}

@media screen and (min-width: 600px) {
  .home-btn {
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    font-size: 3rem;
    border-radius: unset;
    line-height: 2;
    p {
      width: 30px;
      word-wrap: break-word;
    }
    svg {
      margin-right: unset;
    }
  }
}
